<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Dentro_del_sistema::head"> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
</head>
<body>

<header th:replace="Dentro_del_sistema::header">
</header>


	<div style="margin-left: 10%; width: 80%;">
	
	
	
	<h2>Mantenimieno Usuario</h2>

    <!-- boton de registrar usuario -->
		   <div class="text-right">	
		    <a href="/registrar" class="btn btn-primary">Registrar Nuevo Usuario</a> 
		   </div>
	
	<br>
	
	 <!-- tabla de listado -->
    <table id="tabla_usuarios" class="table">
    	<thead class="thead-dark">
    	<tr>
    		<th scope="col">ID</th>
    		<th scope="col">Nombre</th>
    		<th scope="col">Apellido</th>
    		<th scope="col">Telefono</th>
    		<th scope="col">Edad</th>
    		<th scope="col">Cargo</th>
    		<th scope="col"></th>
    	</tr>
    	</thead>
    	<tbody>
    	 <!-- "P" es el nombre de tus variables para pomgas en tu controlador para editar -->
    	<tr th:each="p : ${lista_usuarios}">
    		<td th:text="${p.empleadoid}"></td>
    		<td th:text="${p.nombre}"></td>
    		<td th:text="${p.apellido}"></td>
    		<td th:text="${p.telefono}"></td>
    		<td th:text="${p.edad}"></td>
    		<td><img alt="" th:src="@{${'/img/'+ p.cargo +'.png'}}" width="100px"></td>
    		<td>
    			<form method="post" action="/esitar">
    				<input type="hidden" name="empleadoid" th:value="${p.empleadoid}"/>
    				<button type="submit" class="btn btn-danger">Editar</button>
    			</form>
    		</td>
    	</tr>
    	</tbody>
    </table>
   
	</div>   
	
	
	
	
	
	
</body>

<footer th:replace="Dentro_del_sistema::footer"

></footer>

<script>

$(document).ready( function () {
    $('#tabla_usuarios').DataTable();
} );

</script>

</html>